.vscode/
node_modules/
out/
package-lock.json
tsconfig.jsonvsc-extension-quickstart.md
.eslintrc.json
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
src/backend/main.exe
src/test/
.DS_Store
src/tests/two-source/main.exe
